/*
https://www.ninjaunits.com/converters/pixels/pixels-rem/
*/

:root{
 --blanco: #ffffff;
 --oscuro: #03053a;
 --primario: #0077b6;
 --secundario: #187e29;;
 --gris: #e9ecef;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/*1 rem = 10px*/
    font-family: 'Krub',sans-serif;
}



.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
}

.titulo span{
    font-size: 2rem;
    color: var(--secundario);
}

h2{
    color: blue;
}

nav{
    background-color: pink;
}